@tailwind base;
  @tailwind components;
  @tailwind utilities;



:root  {
  --background: 97 100% 95%;
  --foreground: 97 5% 10%;
  --card: 97 50% 90%;
  --card-foreground: 97 5% 15%;
  --popover: 97 100% 95%;
  --popover-foreground: 97 100% 10%;
  --primary: 97 91% 60%;
  --primary-foreground: 0 0% 100%;
  --secondary: 97 30% 70%;
  --secondary-foreground: 0 0% 0%;
  --muted: 59 30% 85%;
  --muted-foreground: 97 5% 40%;
  --accent: 59 30% 80%;
  --accent-foreground: 97 5% 15%;
  --destructive: 0 100% 49%;
  --destructive-foreground: 97 5% 90%;
  --border: 97 30% 50%;
  --input: 97 30% 49%;
  --ring: 97 91% 60%;
  --radius: 0.5rem;
}
.dark  {
  --background: 97 50% 10%;
  --foreground: 97 5% 90%;
  --card: 97 50% 10%;
  --card-foreground: 97 5% 90%;
  --popover: 97 50% 5%;
  --popover-foreground: 97 5% 90%;
  --primary: 97 91% 60%;
  --primary-foreground: 0 0% 100%;
  --secondary: 97 30% 20%;
  --secondary-foreground: 0 0% 100%;
  --muted: 59 30% 25%;
  --muted-foreground: 97 5% 60%;
  --accent: 59 30% 25%;
  --accent-foreground: 97 5% 90%;
  --destructive: 0 100% 49%;
  --destructive-foreground: 97 5% 90%;
  --border: 97 30% 49%;
  --input: 97 30% 49%;
  --ring: 97 91% 60%;
  --radius: 0.5rem;
}

  
  @layer base {
    * {
      @apply border-border;
    }
    body {
      @apply bg-background text-foreground;
    }
  }